{% set accounts = [
    { id: '201548', name: 'Pareto Securities AS Trading Account ', isActive: true },
    { id: 'T4358', name: 'Trading Account' },
    { id: '200901', name: 'Trading Account' },
    { id: '218561', name: 'Trading Account' },
    { id: '51792', name: 'Trading Account' },
    { id: '201548', name: 'Trading Account' },
    { id: 'T4358', name: 'Trading Account' },
    { id: '200901', name: 'Trading Account' },
    { id: '218561', name: 'Trading Account' },
    { id: '51792', name: 'Trading Account' },
    { id: '201548', name: 'Trading Account' },
    { id: 'T4358', name: 'Trading Account' },
    { id: '200901', name: 'Trading Account' },
    { id: '218561', name: 'Trading Account' },
    { id: '51792', name: 'Trading Account' },
    { id: '201548', name: 'Trading Account' }
] %}

<div class="ps-accounts">
    <div class="ps-accounts__scroller">
        <div class="ps-accounts__wrapper">
            <div class="ps-accounts__header">
                <div class="ps-accounts__heading">
                    <div class="ps-accounts__title">Your accounts</div>
                    <button class="ps-accounts__close" data-toggle-accounts>Close</button>
                </div>

                <div class="ps-accounts__search">
                    {{ mixins.searchField(placeholder='Find account') }}
                </div>
            </div>

            <ul class="ps-accounts__list">
                {% for account in accounts %}
                    <li class="ps-accounts__item {% if account.isActive %}is-active{% endif %}" title="{{ account.name }}">
                        <span class="ps-accounts__item-id">{{ account.id }}</span>
                        <span class="ps-accounts__item-name">{{ account.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
