<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__links">
            <a class="ps-footer__link" href="#">Kontakt oss</a>
            <a class="ps-footer__link" href="#">Terms &amp; conditions</a>
            <a class="ps-footer__link" href="#">International website</a>
        </div>
    </div>
</footer>
