<header class="ps-header">
    <div class="ps-container">
        <div class="ps-header__columns">
            <div class="ps-header__column ps-header__column--left">
                <button class="ps-header__burger has-notification" data-toggle-sidebar>
                    <span class="ps-header__burger-icon">
                        <i class="material-icons">menu</i>
                    </span>
                </button>
                <button class="ps-header__button ps-header__button--search">
                    <span class="ps-header__button-icon">
                        <i class="material-icons">search</i>
                    </span>
                </button>
                <a class="ps-header__logo" href="#">Pareto</a>
            </div>

            <div class="ps-header__column ps-header__column--middle">
                <div class="ps-header__widgets">
                    <div class="ps-header__widget">
                        <div class="ps-header__widget-status" id="headerItem1Widget"></div>
                        <div class="ps-header__widget-index">
                            <div class="ps-header__widget-label">OSEBX</div>
                            <div class="ps-header__widget-num" id="headerItem12Widget"></div>
                        </div>
                    </div>
                    <div class="ps-header__widget">
                        <div class="ps-header__widget-status" id="headerItem2Widget"></div>
                        <div class="ps-header__widget-index">
                            <div class="ps-header__widget-label">OMXS30</div>
                            <div class="ps-header__widget-num" id="headerItem22Widget"></div>
                        </div>
                    </div>
                    <div class="ps-header__widget">
                        <div class="ps-header__widget-status" id="headerItem3Widget"></div>
                        <div class="ps-header__widget-index">
                            <div class="ps-header__widget-label">USDNOK</div>
                            <div class="ps-header__widget-num" id="headerItem32Widget"></div>
                        </div>
                    </div>
                    <div class="ps-header__widget">
                        <div class="ps-header__widget-status" id="headerItem4Widget"></div>
                        <div class="ps-header__widget-index">
                            <div class="ps-header__widget-label">EURUSD</div>
                            <div class="ps-header__widget-num" id="headerItem42Widget"></div>
                        </div>
                    </div>
                    <div class="ps-header__widget">
                        <div class="ps-header__widget-status" id="headerItem5Widget"></div>
                        <div class="ps-header__widget-index">
                            <div class="ps-header__widget-label">DAX</div>
                            <div class="ps-header__widget-num" id="headerItem52Widget"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ps-header__column ps-header__column--right">
                <div class="ps-header__search">
                    {{ mixins.searchField() }}
                </div>
                <button class="ps-header__button ps-header__button--trade">
                    <span class="ps-header__button-icon">
                        <i class="material-icons">swap_horiz</i>
                    </span>
                    <span class="ps-header__button-text">Trade</span>
                </button>
            </div>
        </div>
    </div>
</header>
