<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title>{% if title %}{{ title }}{% endif %}</title>

<link rel="shortcut icon" href="{{assets}}/img/favicon.ico">

<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#002f5f">

{% include 'partials/styles.njk' %}
