{% import "data/data.njk" as data %}

{% macro searchField(placeholder='Search', autofocus='') %}
    <div class="ps-search-field">
        <input
            class="ps-search-field__input"
            type="text"
            placeholder="{{ placeholder }}"
            {% if autofocus %}autofocus{% endif %}
        >

        <span class="ps-search-field__icon ps-search-field__icon--search">
            <i class="material-icons">search</i>
        </span>
    </div>
{% endmacro %}

{% macro searchResults(footer='') %}
    <div class="ps-search-results">
        <div class="ps-search-results__body">
            <div class="ps-search-results__sections">
                {% for category in data.results %}
                    <div class="ps-search-results__section">
                        <div class="ps-search-results__section-header">
                            <div class="ps-search-results__section-title">
                                {{ category.title }}
                            </div>

                            <a class="ps-search-results__section-more" href="#">
                                See all {{ category.total }} results
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </div>

                        <ul class="ps-search-results__section-list">
                            {% for item in category.list %}
                                <li class="ps-search-results__section-item">
                                    <a class="ps-search-results__section-link" href="#">
                                        {{ item | safe }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if footer %}
            <div class="ps-search-results__footer">
                <a class="ps-search-results__footer-link" href="#">
                    See all 220 results for <strong>Hello</strong>
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}
