<div class="ps-mobile-search">
    <div class="ps-mobile-search__header">
        <div class="ps-mobile-search__heading">
            <button class="ps-mobile-search__close">
                <i class="material-icons">keyboard_backspace</i>
            </button>

            <div class="ps-mobile-search__title">Search</div>
        </div>

        <div class="ps-mobile-search__search">
            {{ mixins.searchField() }}
        </div>
    </div>

    <div class="ps-mobile-search__body">
        {{ mixins.searchResults() }}
    </div>
</div>
