<script src="{{assets}}/js/vendor/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- begin infrontUI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.2/highstock.js"></script>

<!--
<script src="{{assets}}/js/vendor/CommonFramework-latest.js"></script>
<script src="{{assets}}/js/vendor/infrontUI-latest.js"></script>
-->

<script src="https://wtk.infrontservices.com/js/CommonFramework-latest.js"></script>
<script src="https://wtk.infrontservices.com/js/InfrontUI-latest.js"></script>
<!-- end infrontUI -->

<!-- begin Scripts -->
<script src="{{assets}}/js/build.js"></script>
<script src="{{assets}}/js/widgets.js"></script>
<script src="{{assets}}/js/app.js"></script>
<!-- end Scripts -->
