{% set menu = [
    {
        title: 'Front page',
        icon: 'home'
    },
    {
        title: 'My Account',
        icon: 'account_circle',
        list: [
            { title: 'My portfolio' },
            { title: 'Performance' },
            { title: 'Contract Notes' },
            { title: 'Transfer' },
            { title: 'VPS' }
        ]
    },
    {
        title: 'Trade',
        icon: 'swap_horiz',
        isCurrent: true,
        list: [
            { isCurrent: true, title: 'Trade' },
            { title: 'My Orders' }
        ]
    },
    {
        title: 'Market',
        icon: 'trending_up',
        list: [
            { title: 'Overview', url: 'market-overview' },
            { title: 'Lists', url: 'market-lists' },
            { title: 'Rankings', url: 'market-rankings' },
            { title: 'Broker Statistic', url: 'market-broker-statistics' },
            { title: 'News', url: 'market-news' },
            { title: 'My list', url: 'market-my-list', isFav: true },
            { title: 'Financial calendars', url: 'market-financial-calendar' }
        ]
    },
    {
        title: 'Research',
        icon: 'cast',
        counter: '2',
        hasNotification: true,
        list: [
            { title: 'Reports', url: 'research-reports', counter: '2' },
            { title: 'Morning' },
            { title: 'Model Portfolio' },
            { title: 'Analysts', url: 'research-analysts', counter: '1' },
            { title: 'Definitions' }
        ]
    },
    {
        title: 'Funds',
        icon: 'local_atm',
        list: [
            { title: 'Overview' },
            { title: 'Lists' },
            { title: 'Trade' }
        ]
    },
    {
        title: 'Bonds',
        icon: 'done_all',
        list: [
            { title: 'High Yield' },
            { title: 'Convertible' },
            { title: 'Claims' },
            { title: 'Norway T1/T2' },
            { title: 'Financials' }
        ]
    },
    {
        title: 'Pareto TV',
        icon: 'tv',
        counter: '164',
        list: [
            { title: 'Latest' },
            { title: 'Market comments' },
            { title: 'Info Videos' },
            { title: 'Paretopodden' }
        ]
    },
    {
        title: 'Events',
        icon: 'event',
        list: [
            { title: 'Upcoming' },
            { title: 'Past' }
        ]
    },
    {
        title: 'Preferences',
        icon: 'tune'
    },
    {
        title: 'Logout',
        icon: 'exit_to_app'
    }
] %}

<div class="ps-sidebar">
    <div class="ps-sidebar__scroller">
        <div class="ps-sidebar__wrapper">
            <div class="ps-sidebar__account" data-toggle-accounts>
                <div class="ps-sidebar__account-details">
                    <div class="ps-sidebar__account-status">Active</div>
                    <div class="ps-sidebar__account-label">201548 Pareto Securities ###</div>
                </div>
            </div>

            <nav class="ps-sidebar__menu">
                <ul class="ps-sidebar__menu-list">
                    {% for category in menu %}
                        <li class="ps-sidebar__menu-item {% if category.list %}has-submenu{% endif %} {% if category.hasNotification %}has-notification{% endif %} {% if category.isCurrent %}is-current{% endif %}">
                            <a class="ps-sidebar__menu-link" href="#" {% if category.list %}data-toggle-submenu{% endif %}>
                                <span class="ps-sidebar__menu-icon">
                                    <i class="material-icons">{{ category.icon }}</i>
                                </span>
                                <span class="ps-sidebar__menu-text">{{ category.title }}</span>

                                {% if category.counter %}
                                <span class="ps-sidebar__menu-counter">{{ category.counter }}</span>
                                {% endif %}
                            </a>

                            {% if category.list %}
                                <ul class="ps-sidebar__submenu">
                                    {% for item in category.list %}
                                        <li class="ps-sidebar__submenu-item {% if item.isFav %}is-starred{% endif %}">
                                            <a class="ps-sidebar__submenu-link {% if item.isCurrent %}is-current{% endif %}" href="{{ item.url }}.html">
                                                {{ item.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <ul class="ps-sidebar__languages">
                {% set languages = [
                    { code: 'en', name: 'English' },
                    { code: 'sw', name: 'Swedish' },
                    { code: 'no', name: 'Norwegian' }
                ] %}

                {% for language in languages %}
                    <li class="ps-sidebar__language ps-sidebar__language--{{ language.code }}">
                        <a title="{{ language.name }}" href="#">{{ language.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
