<link href="//wtk.infrontservices.com/css/InfrontFramework-latest.css" rel="stylesheet">
<link href="//wtk.infrontservices.com/themes/light-latest/theme.css" rel="stylesheet">

<link href="{{assets}}/css/app.css" rel="stylesheet">
