{% import "partials/mixins.njk" as mixins %}
{% from "helpers/assets.njk" import assets as assets %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body class="is-preload">

    <div class="ps-app" id="app">
        {% include "partials/header.njk" %}
        {% include "partials/sidebar.njk" %}
        {% include "partials/accounts.njk" %}

        <!--
        {% include "partials/mobile-search.njk" %}
        -->

        <div class="ps-page">
            <div class="ps-page__content">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include "partials/footer.njk" %}

        <div class="ps-overlay"></div>
    </div>

    {% include "partials/scripts.njk" %}

</body>
</html>
