// Transitions Only After Page Load
// https://css-tricks.com/transitions-only-after-page-load/
.is-preload *
    transition: none !important

*
    &,
    &:before,
    &:after
        box-sizing: border-box

html,
body
    height: 100%
    -webkit-tap-highlight-color: rgba(0,0,0,0)

body
    font: #{$font-size-base}/1.4 $font-family
    background: $background-color
    color: $text-color
    +font-smoothing
    overflow-x: hidden

    display: flex
    flex-direction: column

    min-height: calc(100% - 60px)

a
    color: $link-color
    text-decoration: none

+rmin($md)
    .row--is-equal
        display: flex
        flex-wrap: wrap

        &:before,
        &:after
            display: block

        & > [class*="col-"]
            display: flex
            flex-direction: column

        & > [class*="col-"] > *
            flex: 1 1 auto

.material-icons
    overflow: hidden
    width: 1em
    height: 1em

.ps-container
    max-width: $max-content-width
    margin: 0 auto
    padding-left: 20px
    padding-right: 20px

    +r($md)
        padding-left: 15px
        padding-right: 15px

.ps-app
    position: relative
    display: flex
    flex-direction: column
    min-height: 100%
    padding-top: 60px
    +overflow-touch

.ps-header
    z-index: $zindex-header
    position: fixed
    top: 0
    left: 0
    right: 0
    flex: none
    height: 60px
    background-color: #002f5f
    color: #fff
    transition: transform $animation

    .ps-container
        max-width: 100%
        height: 100%

    +r($md)
        position: absolute

.ps-header__columns
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

.ps-header__column
    flex-shrink: 0
    display: flex
    align-items: center
    height: 100%

    +r($md)
        flex-grow: 1
        flex-basis: 50%

.ps-header__column--left
    position: absolute
    top: 0
    left: 0

    +r($md)
        position: static

.ps-header__column--middle
    padding-left: 180px
    padding-right: 20px
    flex-grow: 1
    justify-content: center

    +r($md)
        display: none

.ps-header__column--right
    +r($md)
        justify-content: flex-end

.ps-header__burger
    width: 55px
    height: 60px
    display: flex
    align-items: center
    justify-content: center
    color: #fff

    &.has-notification
        .ps-header__burger-icon
            &:before
                visibility: visible
                opacity: 1

    +r($md)
        margin-left: -15px
        width: 45px

.ps-header__burger-icon
    position: relative
    display: block

    &:before
        content: ""
        position: absolute
        top: 0
        right: -1px
        width: 9px
        height: 9px
        border-radius: 100%
        background-color: #f53865
        border: 1px solid #002f5f
        visibility: hidden
        opacity: 0

    > i
        vertical-align: middle

.ps-header__logo
    +hide-text
    display: block
    margin-left: 25px
    background: img-url("logo.svg") no-repeat center / contain
    width: 100px
    height: 40px
    background-size: 100px 40px

    +r($md)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        margin-left: 0

.ps-header__widgets
    display: flex
    text-align: center
    user-select: none

.ps-header__widget
    min-width: 110px
    padding: 0 5px
    line-height: 1

    +r($lg)
        &:nth-child(5)
            display: none

    +r(1170)
        &:nth-child(4)
            display: none

.ps-header__widget-status
    margin-bottom: 8px
    font-size: 18px

.ps-header__widget-label,
.ps-header__widget-num
    display: inline-block
    font-size: 12px

.ps-header__widget-num
    .cell-status-positive,
    .cell-status-negative
        color: #fff !important

.ps-header__widget-label
    font-weight: bold

.ps-header__button
    display: flex
    align-items: center
    height: 40px
    line-height: 1

.ps-header__button--search
    display: none
    margin-left: 10px

    +r($md)
        display: flex

.ps-header__button--trade
    min-width: 120px
    margin-left: 10px
    padding: 0 17px
    background-color: #ffc200
    color: #002f5f
    font-size: 16px

    +r($md)
        min-width: 1px
        margin-left: 0
        padding: 0
        align-content: center
        flex-direction: column
        justify-content: center
        background-color: transparent
        color: #fff
        font-size: 14px

.ps-header__button-icon
    > i
        vertical-align: middle

.ps-header__button-text
    display: block
    flex-grow: 1

.ps-header__search
    width: 275px

    +r($md)
        display: none

.ps-search-field
    position: relative
    height: 40px
    width: 100%

.ps-search-field__input
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 0 30px 0 45px
    border: 1px solid #d8d8d8
    background-color: #fff
    outline: 0

    +placeholder
        color: #9b9b9b

.ps-search-field__icon
    position: absolute
    top: 50%
    padding: 8px 10px
    transform: translate(0, -50%)
    color: #9b9b9b

    > i
        vertical-align: middle

.ps-search-field__icon--search
    left: 0
    user-select: none
    pointer-events: none

.ps-footer
    flex: none
    height: 80px
    background-color: #002f5f

    .ps-container
        height: 100%

.ps-footer__links
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    flex-wrap: wrap
    height: 100%

.ps-footer__link
    display: inline-block
    padding: 2px 5px
    color: #fff

    +hover
        color: $link-color

.ps-page
    flex-grow: 1
    flex-shrink: 0
    flex-basis: auto

.ps-page__content
    padding-top: 20px
    padding-bottom: 20px

.ps-page-header
    margin-top: -20px
    margin-bottom: 10px
    padding-top: 15px
    padding-bottom: 15px
    border-bottom: 1px solid #d8d8d8
    background: #fcfcfc

.ps-page-header__title
    font-size: 21px
    color: #00244d

.ps-card
    position: relative
    margin-bottom: 10px
    padding: 10px 15px
    border: 1px solid #d8d8d8
    background-color: #fcfcfc

    &--has-nested-cards
        .ps-card
            padding: 0
            border: 0
            margin: 0
            background: transparent

    &--marketListOverviewComplexChart,
    &--mainIndexChart
        padding: 0

    &--marketListOverviewComplexChart
        height: 545px

        .ps-card__body
            height: 100%

        +r($sm)
            height: 300px

    &--chart
        .ps-infront-widget
            height: 250px

.ps-card__header
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 0 10px

.ps-card__title
    font-weight: bold

$sidebar-background-color: #00172f
.ps-sidebar
    background-color: $sidebar-background-color
    color: #fff

.ps-sidebar__account
    position: relative
    cursor: pointer
    user-select: none

    &:before
        +icon
        content: "\e5cc"
        position: absolute
        top: 50%
        left: 17px
        font-size: 20px
        transform: translate(0, -50%)
        transition: opacity $animation, visibility $animation
        opacity: 0
        visibility: hidden

.ps-sidebar__account-details
    position: relative
    padding: 20px 33px 20px 17px
    font-size: 11px
    transition: opacity $animation, visibility $animation

    &:before
        +icon
        content: "\e5cc"
        position: absolute
        right: 15px
        top: 50%
        transform: translate(0, -50%)
        font-size: 20px

.ps-sidebar__account-status
    float: left
    height: 20px
    line-height: 20px
    min-width: 40px
    padding: 0 5px
    margin-right: 10px
    background: #169de4
    border-radius: 4px
    font-weight: bold
    text-align: center

.ps-sidebar__account-label
    +text-overflow
    height: 20px
    line-height: 20px
    text-transform: uppercase

.ps-sidebar__languages
    display: flex
    margin-top: 10px
    padding: 20px
    transition: opacity $animation, visibility $animation

.ps-sidebar__language
    &:not(:last-child)
        margin-right: 20px

    a
        +hide-text
        display: block

        &:before
            content: ""
            display: block
            width: 30px
            height: 20px
            background: no-repeat center / contain
            background-size: 30px 20px

$languages: en no sw
@each $icon in $languages
    .ps-sidebar__language--#{$icon}
        a:before
            background-image: img-url("languages/#{$icon}.svg")

.ps-sidebar__menu-item
    .no-touchevents &:hover,
    &.is-active,
    &.is-current
        .ps-sidebar__menu-link
            background-color: #002f5f

    &.is-active
        .ps-sidebar__menu-link
            &:before
                transform: rotate(-180deg)

    &.has-submenu
        .ps-sidebar__menu-link
            &:before
               +icon
               content: "\e313"
               position: absolute
               right: 15px
               top: 50%
               margin-top: -10px
               font-size: 20px
               transition: transform .2s

    &.has-notification
        .ps-sidebar__menu-icon:before
            content: ""
            position: absolute
            top: -2px
            right: -3px
            width: 9px
            height: 9px
            border-radius: 100%
            background-color: #f53865
            border: 1px solid #002f5f

.ps-sidebar__menu-link
    position: relative
    display: block
    padding: 10px 35px 10px 55px
    font-size: 14px
    line-height: 20px
    user-select: none

.ps-sidebar__menu-icon
    position: absolute
    left: 17px
    top: 50%
    transform: translate(0, -50%)

    > i
        vertical-align: top
        font-size: 20px

.ps-sidebar__menu-counter
    position: absolute
    top: 50%
    right: 50px
    transform: translate(0, -50%)

    min-width: 18px
    height: 18px
    line-height: 18px
    padding: 0 5px
    border-radius: 18px

    background-color: #169de4
    font-size: 12px
    color: #fff
    text-align: center

.ps-sidebar__submenu
    display: none
    padding: 10px 0
    background-color: #000a16

.ps-sidebar__submenu-item
    font-size: 14px
    line-height: 18px
    color: #fff

    &.is-starred
        .ps-sidebar__submenu-link
            padding-left: 80px

            &:before
                content: "\e838"
                +icon
                position: absolute
                top: 50%
                left: 55px
                transform: translate(0, -50%)
                font-size: 18px
                color: #ffc200

.ps-sidebar__submenu-link
    position: relative
    display: block
    padding: 10px 20px 10px 55px
    color: currentColor

    .no-touchevents &:hover,
    &.is-current
        color: $link-color

$accounts-background-color: #000a16
.ps-accounts
    background-color: $accounts-background-color
    color: #fff

.ps-accounts__header
    background-color: #002f5f
    padding: 15px

.ps-accounts__heading
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 5px
    line-height: 24px

.ps-accounts__title
    font-size: 18px
    color: #169de4

.ps-accounts__close
    font-size: 14px
    color: #fff

.ps-accounts__search
    margin-top: 25px

.ps-accounts__list
    padding: 10px 0

.ps-accounts__item
    position: relative
    padding: 10px 15px 10px 38px
    font-size: 12px
    text-transform: uppercase
    cursor: pointer

    &.is-active
        font-weight: bold

        &:before
            content: "\e5ca"
            +icon
            position: absolute
            top: 50%
            left: 13px
            transform: translate(0, -50%)
            font-size: 18px

.ps-accounts__item-id
    float: left
    min-width: 40px
    margin-right: 13px

.ps-accounts__item-name
    display: block
    +text-overflow

.ps-overlay
    z-index: $zindex-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(#000, .5)

    visibility: hidden
    opacity: 0
    transition: opacity $animation, visibility $animation

.cell-status-positive
    color: $color-positive !important

.cell-status-negative
    color: $color-negative !important

.ps-infront-widget-wrapper
    width: 100%
    min-height: .01%
    overflow-y: hidden
    overflow-x: auto

.ps-infront-widget
    +clr
    // margin: 0 -10px

    .cell-h4
        display: none
        margin: 0 0 10px
        padding: 0
        font-family: $font-family
        font-size: $font-size-base
        font-weight: bold
        color: $text-color
        text-transform: uppercase

    .cell-active-row td
        background-color: #eee !important

    // .cell-table tr.cell-row--interaction:hover
    //     td
    //         background-color: #eee
    //         color: #4a4a4a

    .cell-table-wrapper
       width: 100%
       min-height: .01%
       overflow-y: hidden
       overflow-x: auto

    .cell-table:not(.cell-table--historical-overview)
        tr
            &:nth-child(2n) td
                background-color: #f6f6f6

        tr.cell-row--interaction:hover
            td
                background-color: #eee
                color: #4a4a4a

    .cell-table th,
    .cell-table td
        padding-left: 5px
        padding-right: 5px
        color: #4a4a4a

    .cell-table th
        padding-top: 10px
        padding-bottom: 10px
        font-size: 14px
        font-weight: bold
        text-transform: none
        border-bottom: 1px solid #d8d8d8

    .cell-table td
        background-color: transparent
        border: none
        padding-top: 10px
        padding-bottom: 10px

    .cell-form-elements
        position: static
        float: none

    select.cell-input
        appearance: none
        height: 40px
        padding: 0 10px
        border: 1px solid #d8d8d8
        border-radius: 0
        background: #fcfcfc
        font-size: 14px
        color: $text-color
        outline: 0
        background: img-url('icon-unfold-more.svg') no-repeat calc(100% - 10px) 50%
        background-size: 14px 14px

        +r($md)
            width: 100%

    .cell-tbl-change-bars
        margin-top: 20px

    .cell-tbl-change-bars--up
        background-color: $color-positive

    .cell-tbl-change-bars--down
        background-color: $color-negative

    .cell-tbl-change-bars--no-change
        background-color: #d8d8d8

    .cell-widget-med-text
        font-size: 21px

    .cell-w-index-overview .cell-tbl-change-labels
        margin-top: 25px
        font-size: 14px

        +r($md)
            font-size: 12px

        td
            font-weight: normal
            span
                &:nth-child(1),
                &:nth-child(2)
                    font-weight: bold

    .cell-w-index-overview .cell-tbl-historic
        tr:first-child td
            border-bottom: 1px solid #d8d8d8
        tr:nth-child(2n) td,
        td
            background-color: transparent

    .cell-table--news-list__url-news.cell-table__txt--news-heading
        background-position: 3px 10px

    .cell-w-historical-overview__labels
        padding: 0 10px

    .cell-w-historical-overview__labels--low,
    .cell-w-historical-overview__labels--high
        font-weight: bold

        span:last-of-type
            font-weight: normal

    .cell-w-historical-overview-bar
        height: 20px
        margin-top: 13px

    .cell-w-historical-overview-bar--low
        background-color: $color-positive

    .cell-w-historical-overview-bar--high
        background-color: $color-negative

    .cell-table--order-book--ask-bar-size
        border-left: 1px solid #fcfcfc !important

    .cell-table--order-book--bid-bar-size
        background-image: img-url("infront/orderbook_bg_size_bid.png")

    .cell-table--order-book--ask-bar-size
        background-image: img-url("infront/orderbook_bg_size_ask.png")

    .cell-tabs__horizontal
        border-bottom: 1px solid #d8d8d8

    .cell-tabs__horizontal__tab
        margin-right: 15px
        padding: 0 13px 17px
        border: 0
        border-bottom: 4px solid transparent
        line-height: 1
        font-size: 18px
        color: #009ee0
        background: transparent

        &:last-child
            margin-right: 0

    .cell-tabs__horizontal__tab--selected
        border-bottom: 4px solid #169de4

    .highcharts-background
        fill: #fcfcfc

    $chart-background-color: #16345c
    &--marketListOverviewComplexChart
        // position: relative
        // height: 0 !important
        // padding-bottom: 55.6% // 545px
        // background-color: #16345c

        .cell-chart__toolbar
            position: relative
            padding: 8px 5px

            .cell-pull-right
                float: none !important

            .cell-pos-relative
                position: static

            .cell-custom-dropdown-selector-wrapper
                display: block !important
                position: static
                background-color: transparent
                border: 0
                box-shadow: none

            .cell-custom-dropdown-selector
                float: none
                display: flex
                align-items: center
                justify-content: center

            .cell-custom-dropdown-selector__item
                width: auto
                border: 0
                float: none
                text-align: center

                &:hover
                    background-color: transparent

            .cell-custom-dropdown-selector__item__label
                height: 24px
                line-height: 24px
                padding: 0 13px
                border-radius: 12px
                font-size: 18px
                color: #169de4
                background-color: transparent

                +r($md)
                    height: 20px
                    line-height: 20px
                    padding: 0 8px
                    border-radius: 10px
                    font-size: 14px

                &.cell-custom-dropdown-selector__item--selected
                    background-image: none
                    background-color: #169de4
                    color: #fff

            .cell-heading_dropdown--multi-selection
                display: none

        .cell-chart-wrapper
            // position: absolute
            // top: 0
            // left: 0
            // width: 100%
            // height: 100%
            background-color: $chart-background-color

        .cell-chart-default
            background-color: $chart-background-color

            .cell-chart-wrapper
                background-color: $chart-background-color

            .cell-chart__label-element__label
                display: none

            .cell-chart__label-element__values__element
                color: #fff

            .highcharts-tooltip-box
                display: none

            .highcharts-background
                fill: $chart-background-color

            .highcharts-crosshair-thin
                stroke: rgba(#fff, .1)

            .highcharts-xaxis-grid .highcharts-grid-line
                stroke: transparent

            .highcharts-yaxis-grid .highcharts-grid-line
                stroke: rgba(#fff, .1)

            .highcharts-point
                fill: rgba(#fff, .1)

            .highcharts-tick,
            .highcharts-axis-line
                stroke: rgba(#fff, .1)

            .highcharts-plot-band
                fill: transparent

            .highcharts-axis-labels tspan
                fill: #fff

            .highcharts-axis-labels text
                fill: #fff !important

            .series-color--0 .highcharts-graph
                stroke: #fff

            .highcharts-navigator-series .highcharts-graph
                stroke: #335cad

            .highcharts-navigator-series .highcharts-area
                fill: transparent

    &--marketOrderBook
        min-width: 375px

    &--index-overview0
        .cell-tbl-historic
            th,
            td
                padding-left: 0
                padding-right: 0
