$header-height: 60px
$scrollbar-width: 20px

$sidebar-width: 220px
$sidebar-width-device: 250px
$sidebar-width-collapsed: 55px

.has-sidebar-toggle
    .ps-page,
    .ps-footer
        padding-left: $sidebar-width-collapsed

    .ps-sidebar
        width: $sidebar-width-collapsed

        +hover
            width: $sidebar-width

            .ps-sidebar__account:before
                visibility: hidden
                opacity: 0

            .ps-sidebar__account-details,
            .ps-sidebar__languages
                visibility: visible
                opacity: 1

    .ps-sidebar__account:before
        visibility: visible
        opacity: 1

    .ps-sidebar__account-details,
    .ps-sidebar__languages
        visibility: hidden
        opacity: 0

    +r($lg)
        .ps-page,
        .ps-footer
            padding-left: $sidebar-width

        .ps-sidebar
            width: $sidebar-width

        .ps-sidebar__account:before
                visibility: hidden
                opacity: 0

        .ps-sidebar__account-details,
        .ps-sidebar__languages
            visibility: visible
            opacity: 1

    +r($md)
        .ps-page,
        .ps-footer
            padding-left: 0

        .ps-sidebar
            transform: translate3d(0, 0, 0)

            +hover
                width: $sidebar-width-device

        .ps-sidebar,
        .ps-accounts
            top: 0
            width: $sidebar-width-device

        .ps-sidebar__scroller,
        .ps-accounts__scroller
            width: calc(#{$sidebar-width-device} + #{$scrollbar-width})

        .ps-sidebar__wrapper,
        .ps-accounts__wrapper
            width: $sidebar-width-device

.has-accounts-open
    .ps-accounts
        transform: translate3d(0, 0, 0)

.has-sidebar-toggle,
.has-accounts-open
    +r($md)
        .ps-overlay
            visibility: visible
            opacity: 1

.ps-page,
.ps-footer
    transition: padding-left $animation, transform $animation
    padding-left: $sidebar-width

.ps-sidebar,
.ps-accounts
    overflow: hidden
    position: fixed
    top: $header-height
    left: 0
    bottom: 0
    width: $sidebar-width
    transition: width $animation, transform $animation

.ps-sidebar
    z-index: $zindex-sidebar

.ps-accounts
    z-index: $zindex-accounts
    transform: translate3d(-#{$sidebar-width}, 0, 0)

.ps-sidebar__scroller,
.ps-accounts__scroller
    position: absolute
    top: 0
    left: 0
    bottom: 0
    +overflow-touch
    overflow-x: hidden
    overflow-y: scroll
    width: calc(#{$sidebar-width} + #{$scrollbar-width})

.ps-sidebar__wrapper,
.ps-accounts__wrapper
    width: $sidebar-width

+r($lg)
    .ps-page,
    .ps-footer
        padding-left: $sidebar-width-collapsed

    .ps-sidebar
        width: $sidebar-width-collapsed

        +hover
            width: $sidebar-width

            .ps-sidebar__account:before
                visibility: hidden
                opacity: 0

            .ps-sidebar__account-details,
            .ps-sidebar__languages
                visibility: visible
                opacity: 1

    .ps-sidebar__account:before
        visibility: visible
        opacity: 1

    .ps-sidebar__account-details,
    .ps-sidebar__languages
        visibility: hidden
        opacity: 0

+r($md)
    .ps-page,
    .ps-footer
        padding-left: 0

    .ps-sidebar,
    .ps-accounts
        top: 0
        width: $sidebar-width-device
        transform: translate3d(-#{$sidebar-width-device}, 0, 0)

    .ps-sidebar__scroller,
    .ps-accounts__scroller
        width: calc(#{$sidebar-width-device} + #{$scrollbar-width})

    .ps-sidebar__wrapper,
    .ps-accounts__wrapper
        width: $sidebar-width-device

    .ps-sidebar__account:before
        visibility: hidden
        opacity: 0

    .ps-sidebar__account-details,
    .ps-sidebar__languages
        visibility: visible
        opacity: 1
