// ::selection
//     background: #002f5f
//     color: #fff

input,
button
    font: inherit
    border: 0
    border-radius: 0

// Remove inner shadow on Mobile Safari (iPhone)
// https://stackoverflow.com/questions/3062968/remove-textarea-inner-shadow-on-mobile-safari-iphone
input,
textarea
    appearance: none

button
    padding: 0
    border-radius: 0
    color: inherit
    font-family: inherit
    font-size: inherit
    outline: none
    background: transparent
    cursor: pointer

img
    max-width: 100%
    height: auto

strong
    font-weight: bold

em
    font-style: italic

// Disable the clear button that IE10 inserts into textboxes
// https://stackoverflow.com/questions/13481577/how-can-i-disable-the-clear-button-that-ie10-inserts-into-textboxes
input[type=text]::-ms-clear
    display: none
