<template>
    <div :class="`ps-card ps-card--${this.id}`">
        <div class="ps-card__header" v-if="this.title">
            <div class="ps-card__title">{{ this.title }}</div>
            <div class="ps-card__read-more" v-if="this.link">
                <a :href="this.link">{{ this.linkText ? this.linkText : 'View all' }}</a>
            </div>
        </div>

        <div class="ps-card__body">
            <div class="ps-infront-widget-wrapper">
                <div :id="this.id" :class="`ps-infront-widget ps-infront-widget--${this.id}`"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'infront-widget',
        props: ['id', 'title', 'link', 'linkText'],
    }
</script>
