<template>
    <div class="row">
        <div class="col-md-6">
            <div class="ps-card">
                <ul class="ps-reports-list">
                    <li class="ps-reports-list__item" v-for="(report, index) in reports">
                        <div class="ps-reports-list__header">
                            <h3 class="ps-reports-list__title">
                                <a :href="`https://online.paretosec.com/Research/Report/${report.Id}`">
                                    {{ report.Title }}
                                </a>
                            </h3>
                            <a class="ps-reports-list__download-pdf"
                               :href="`https://online.paretosec.com/Research/DownloadReportPdf/${report.Id}`">
                                Download report (PDF)
                            </a>
                            <div class="ps-reports-list__meta">{{ report.ReportType }} {{ report.Published }}</div>
                            <div class="ps-reports-list__recommendation">{{ report.Recommendation }}</div>
                        </div>
                        <div class="ps-reports-list__description">{{ report.Synopsis }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'research-reports',

        data() {
            return {
                reports: [],
            }
        },

        mounted() {
            this.fetchReports();
        },

        methods: {
            fetchReports() {
                const url = 'https://online.paretosec.com/researchservice/reports';

                axios.get(url)
                    .then((response) => {
                        this.reports = response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    }
</script>
