<template>
    <div class="ps-card">
        <div class="row">
            <div class="col-md-4">
                <ul class="ps-analysts-list">
                    <li class="ps-analysts-list__item"
                        v-for="(analyst, index) in analysts"
                        @click="handleCurrentAnalyst(analyst, index)"
                    >
                        <div class="ps-analysts-list__userpic">
                            <img :src="`http://via.placeholder.com/120/001630/ffffff?text=${analyst.Initials}`" width="60" :alt="`${ analyst.FirstName } ${ analyst.LastName }`">
                        </div>
                        <div class="ps-analysts-list__info">
                            <h3 class="ps-analysts-list__name">{{ analyst.FirstName }} {{ analyst.LastName }}</h3>
                            <p class="ps-analysts-list__phone">{{ analyst.TelephoneNumber }}</p>
                            <p class="ps-analysts-list__email">{{analyst.EmailAddress}}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-8">
                <div class="ps-latest-research">
                    <h2 class="ps-latest-research__header">Latest research by {{ currentAnalyst }}</h2>
                    <ul class="ps-latest-research-list" v-if="showLatestHeadlines">
                        <li class="ps-latest-research-list__item" v-for="headline in latestHeadlines">
                            <h3 class="ps-latest-research-list__title">
                                <a :href="`https://online.paretosec.com/Research/Report/${headline.Id}`" target="_blank">
                                    {{ headline.Title }}
                                </a>
                            </h3>
                            <div class="ps-latest-research-list__meta">
                                {{ headline.ReportType }} {{ headline.Published }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'research-analysts',

        data() {
            return {
                analysts: [],
                latestHeadlines: [],
                showLatestHeadlines: false,
                currentAnalyst: ''
            }
        },

        mounted() {
            this.fetchAnalysts();
            this.fetchLatestHeadlines(1045);
        },

        methods: {
            handleCurrentAnalyst(analyst, index) {
                this.fetchLatestHeadlines(analyst.Id);
                this.currentAnalyst = `${this.analysts[index].FirstName} ${this.analysts[index].LastName}`;
            },

            fetchAnalysts() {
                const url = 'https://online.paretosec.com/researchservice/analysts';

                axios.get(url)
                    .then((response) => {
                        console.log(response.data);
                        this.analysts = response.data;
                        this.currentAnalyst = `${this.analysts[0].FirstName} ${this.analysts[0].LastName}`;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            fetchLatestHeadlines(id) {
                const url = `https://online.paretosec.com/researchservice/analysts/${id}/latestheadlines`;

                this.showLatestHeadlines = false;

                axios.get(url)
                    .then((response) => {
                        this.latestHeadlines = response.data;
                        this.showLatestHeadlines = true;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    }
</script>
