@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Material+Icons");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.3/customize/?id=e1ebb1f19abe0eead173a2546510b8ed)
 * Config saved to config.json and https://gist.github.com/e1ebb1f19abe0eead173a2546510b8ed
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/*// html {*/
/*//     font-family: sans-serif;*/
/*//     -ms-text-size-adjust: 100%;*/
/*//     -webkit-text-size-adjust: 100%;*/
/*// }*/
/*// body {*/
/*//     margin: 0;*/
/*// }*/
/*// article,*/
/*// aside,*/
/*// details,*/
/*// figcaption,*/
/*// figure,*/
/*// footer,*/
/*// header,*/
/*// hgroup,*/
/*// main,*/
/*// menu,*/
/*// nav,*/
/*// section,*/
/*// summary {*/
/*//     display: block;*/
/*// }*/
/*// audio,*/
/*// canvas,*/
/*// progress,*/
/*// video {*/
/*//     display: inline-block;*/
/*//     vertical-align: baseline;*/
/*// }*/
/*// audio:not([controls]) {*/
/*//     display: none;*/
/*//     height: 0;*/
/*// }*/
/*// [hidden],*/
/*// template {*/
/*//     display: none;*/
/*// }*/
/*// a {*/
/*//     background-color: transparent;*/
/*// }*/
/*// a:active,*/
/*// a:hover {*/
/*//     outline: 0;*/
/*// }*/
/*// abbr[title] {*/
/*//     border-bottom: 1px dotted;*/
/*// }*/
/*// b,*/
/*// strong {*/
/*//     font-weight: bold;*/
/*// }*/
/*// dfn {*/
/*//     font-style: italic;*/
/*// }*/
/*// h1 {*/
/*//     font-size: 2em;*/
/*//     margin: 0.67em 0;*/
/*// }*/
/*// mark {*/
/*//     background: #ff0;*/
/*//     color: #000;*/
/*// }*/
/*// small {*/
/*//     font-size: 80%;*/
/*// }*/
/*// sub,*/
/*// sup {*/
/*//     font-size: 75%;*/
/*//     line-height: 0;*/
/*//     position: relative;*/
/*//     vertical-align: baseline;*/
/*// }*/
/*// sup {*/
/*//     top: -0.5em;*/
/*// }*/
/*// sub {*/
/*//     bottom: -0.25em;*/
/*// }*/
/*// img {*/
/*//     border: 0;*/
/*// }*/
/*// svg:not(:root) {*/
/*//     overflow: hidden;*/
/*// }*/
/*// figure {*/
/*//     margin: 1em 40px;*/
/*// }*/
/*// hr {*/
/*//     -webkit-box-sizing: content-box;*/
/*//            -moz-box-sizing: content-box;*/
/*//                     box-sizing: content-box;*/
/*//     height: 0;*/
/*// }*/
/*// pre {*/
/*//     overflow: auto;*/
/*// }*/
/*// code,*/
/*// kbd,*/
/*// pre,*/
/*// samp {*/
/*//     font-family: monospace, monospace;*/
/*//     font-size: 1em;*/
/*// }*/
/*// button,*/
/*// input,*/
/*// optgroup,*/
/*// select,*/
/*// textarea {*/
/*//     color: inherit;*/
/*//     font: inherit;*/
/*//     margin: 0;*/
/*// }*/
/*// button {*/
/*//     overflow: visible;*/
/*// }*/
/*// button,*/
/*// select {*/
/*//     text-transform: none;*/
/*// }*/
/*// button,*/
/*// html input[type="button"],*/
/*// input[type="reset"],*/
/*// input[type="submit"] {*/
/*//     -webkit-appearance: button;*/
/*//     cursor: pointer;*/
/*// }*/
/*// button[disabled],*/
/*// html input[disabled] {*/
/*//     cursor: default;*/
/*// }*/
/*// button::-moz-focus-inner,*/
/*// input::-moz-focus-inner {*/
/*//     border: 0;*/
/*//     padding: 0;*/
/*// }*/
/*// input {*/
/*//     line-height: normal;*/
/*// }*/
/*// input[type="checkbox"],*/
/*// input[type="radio"] {*/
/*//     -webkit-box-sizing: border-box;*/
/*//            -moz-box-sizing: border-box;*/
/*//                     box-sizing: border-box;*/
/*//     padding: 0;*/
/*// }*/
/*// input[type="number"]::-webkit-inner-spin-button,*/
/*// input[type="number"]::-webkit-outer-spin-button {*/
/*//     height: auto;*/
/*// }*/
/*// input[type="search"] {*/
/*//     -webkit-appearance: textfield;*/
/*//     -webkit-box-sizing: content-box;*/
/*//            -moz-box-sizing: content-box;*/
/*//                     box-sizing: content-box;*/
/*// }*/
/*// input[type="search"]::-webkit-search-cancel-button,*/
/*// input[type="search"]::-webkit-search-decoration {*/
/*//     -webkit-appearance: none;*/
/*// }*/
/*// fieldset {*/
/*//     border: 1px solid #c0c0c0;*/
/*//     margin: 0 2px;*/
/*//     padding: 0.35em 0.625em 0.75em;*/
/*// }*/
/*// legend {*/
/*//     border: 0;*/
/*//     padding: 0;*/
/*// }*/
/*// textarea {*/
/*//     overflow: auto;*/
/*// }*/
/*// optgroup {*/
/*//     font-weight: bold;*/
/*// }*/
/*// table {*/
/*//     border-collapse: collapse;*/
/*//     border-spacing: 0;*/
/*// }*/
/*// td,*/
/*// th {*/
/*//     padding: 0;*/
/*// }*/
/*// * {*/
/*//     -webkit-box-sizing: border-box;*/
/*//     -moz-box-sizing: border-box;*/
/*//     box-sizing: border-box;*/
/*// }*/
/*// *:before,*/
/*// *:after {*/
/*//     -webkit-box-sizing: border-box;*/
/*//     -moz-box-sizing: border-box;*/
/*//     box-sizing: border-box;*/
/*// }*/
/*// html {*/
/*//     font-size: 10px;*/
/*//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*// }*/
/*// body {*/
/*//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*//     font-size: 14px;*/
/*//     line-height: 1.42857143;*/
/*//     color: #333333;*/
/*//     background-color: #ffffff;*/
/*// }*/
/*// input,*/
/*// button,*/
/*// select,*/
/*// textarea {*/
/*//     font-family: inherit;*/
/*//     font-size: inherit;*/
/*//     line-height: inherit;*/
/*// }*/
/*// a {*/
/*//     color: #337ab7;*/
/*//     text-decoration: none;*/
/*// }*/
/*// a:hover,*/
/*// a:focus {*/
/*//     color: #23527c;*/
/*//     text-decoration: underline;*/
/*// }*/
/*// a:focus {*/
/*//     outline: 5px auto -webkit-focus-ring-color;*/
/*//     outline-offset: -2px;*/
/*// }*/
/*// figure {*/
/*//     margin: 0;*/
/*// }*/
/*// img {*/
/*//     vertical-align: middle;*/
/*// }*/
/*// .img-responsive {*/
/*//     display: block;*/
/*//     max-width: 100%;*/
/*//     height: auto;*/
/*// }*/
/*// .img-rounded {*/
/*//     border-radius: 6px;*/
/*// }*/
/*// .img-thumbnail {*/
/*//     padding: 4px;*/
/*//     line-height: 1.42857143;*/
/*//     background-color: #ffffff;*/
/*//     border: 1px solid #dddddd;*/
/*//     border-radius: 4px;*/
/*//     -webkit-transition: all 0.2s ease-in-out;*/
/*//     -o-transition: all 0.2s ease-in-out;*/
/*//     transition: all 0.2s ease-in-out;*/
/*//     display: inline-block;*/
/*//     max-width: 100%;*/
/*//     height: auto;*/
/*// }*/
/*// .img-circle {*/
/*//     border-radius: 50%;*/
/*// }*/
/*// hr {*/
/*//     margin-top: 20px;*/
/*//     margin-bottom: 20px;*/
/*//     border: 0;*/
/*//     border-top: 1px solid #eeeeee;*/
/*// }*/
/*// .sr-only {*/
/*//     position: absolute;*/
/*//     width: 1px;*/
/*//     height: 1px;*/
/*//     margin: -1px;*/
/*//     padding: 0;*/
/*//     overflow: hidden;*/
/*//     clip: rect(0, 0, 0, 0);*/
/*//     border: 0;*/
/*// }*/
/*// .sr-only-focusable:active,*/
/*// .sr-only-focusable:focus {*/
/*//     position: static;*/
/*//     width: auto;*/
/*//     height: auto;*/
/*//     margin: 0;*/
/*//     overflow: visible;*/
/*//     clip: auto;*/
/*// }*/
/*// [role="button"] {*/
/*//     cursor: pointer;*/
/*// }*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

input,
button {
  font: inherit;
  border: 0;
  border-radius: 0;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  padding: 0;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input[type=text]::-ms-clear {
  display: none;
}

.is-preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 14px/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  color: #424952;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100% - 60px);
}

a {
  color: #169de4;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .row--is-equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .row--is-equal:before, .row--is-equal:after {
    display: block;
  }
  .row--is-equal > [class*="col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row--is-equal > [class*="col-"] > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

.material-icons {
  overflow: hidden;
  width: 1em;
  height: 1em;
}

.ps-container {
  max-width: 1520px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .ps-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ps-app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  padding-top: 60px;
  -webkit-overflow-scrolling: touch;
}

.ps-header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  height: 60px;
  background-color: #002f5f;
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.ps-header .ps-container {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .ps-header {
    position: absolute;
  }
}

.ps-header__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.ps-header__column {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .ps-header__column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.ps-header__column--left {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .ps-header__column--left {
    position: static;
  }
}

.ps-header__column--middle {
  padding-left: 180px;
  padding-right: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .ps-header__column--middle {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .ps-header__column--right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.ps-header__burger {
  width: 55px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}

.ps-header__burger.has-notification .ps-header__burger-icon:before {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .ps-header__burger {
    margin-left: -15px;
    width: 45px;
  }
}

.ps-header__burger-icon {
  position: relative;
  display: block;
}

.ps-header__burger-icon:before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #f53865;
  border: 1px solid #002f5f;
  visibility: hidden;
  opacity: 0;
}

.ps-header__burger-icon > i {
  vertical-align: middle;
}

.ps-header__logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  display: block;
  margin-left: 25px;
  background: url("../img/logo.svg") no-repeat center/contain;
  width: 100px;
  height: 40px;
  background-size: 100px 40px;
}

@media screen and (max-width: 991px) {
  .ps-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 0;
  }
}

.ps-header__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ps-header__widget {
  min-width: 110px;
  padding: 0 5px;
  line-height: 1;
}

@media screen and (max-width: 1199px) {
  .ps-header__widget:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1169px) {
  .ps-header__widget:nth-child(4) {
    display: none;
  }
}

.ps-header__widget-status {
  margin-bottom: 8px;
  font-size: 18px;
}

.ps-header__widget-label,
.ps-header__widget-num {
  display: inline-block;
  font-size: 12px;
}

.ps-header__widget-num .cell-status-positive,
.ps-header__widget-num .cell-status-negative {
  color: #fff !important;
}

.ps-header__widget-label {
  font-weight: bold;
}

.ps-header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  line-height: 1;
}

.ps-header__button--search {
  display: none;
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .ps-header__button--search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ps-header__button--trade {
  min-width: 120px;
  margin-left: 10px;
  padding: 0 17px;
  background-color: #ffc200;
  color: #002f5f;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .ps-header__button--trade {
    min-width: 1px;
    margin-left: 0;
    padding: 0;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
  }
}

.ps-header__button-icon > i {
  vertical-align: middle;
}

.ps-header__button-text {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ps-header__search {
  width: 275px;
}

@media screen and (max-width: 991px) {
  .ps-header__search {
    display: none;
  }
}

.ps-search-field {
  position: relative;
  height: 40px;
  width: 100%;
}

.ps-search-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px 0 45px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  outline: 0;
}

.ps-search-field__input::-webkit-input-placeholder {
  color: #9b9b9b;
}

.ps-search-field__input:-ms-input-placeholder {
  color: #9b9b9b;
}

.ps-search-field__input::-ms-input-placeholder {
  color: #9b9b9b;
}

.ps-search-field__input::placeholder {
  color: #9b9b9b;
}

.ps-search-field__icon {
  position: absolute;
  top: 50%;
  padding: 8px 10px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #9b9b9b;
}

.ps-search-field__icon > i {
  vertical-align: middle;
}

.ps-search-field__icon--search {
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.ps-footer {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  height: 80px;
  background-color: #002f5f;
}

.ps-footer .ps-container {
  height: 100%;
}

.ps-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.ps-footer__link {
  display: inline-block;
  padding: 2px 5px;
  color: #fff;
}

.no-touchevents .ps-footer__link:hover {
  color: #169de4;
}

.ps-page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.ps-page__content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ps-page-header {
  margin-top: -20px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  background: #fcfcfc;
}

.ps-page-header__title {
  font-size: 21px;
  color: #00244d;
}

.ps-card {
  position: relative;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #d8d8d8;
  background-color: #fcfcfc;
}

.ps-card--has-nested-cards .ps-card {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
}

.ps-card--marketListOverviewComplexChart, .ps-card--mainIndexChart {
  padding: 0;
}

.ps-card--marketListOverviewComplexChart {
  height: 545px;
}

.ps-card--marketListOverviewComplexChart .ps-card__body {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .ps-card--marketListOverviewComplexChart {
    height: 300px;
  }
}

.ps-card--chart .ps-infront-widget {
  height: 250px;
}

.ps-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px;
}

.ps-card__title {
  font-weight: bold;
}

.ps-sidebar {
  background-color: #00172f;
  color: #fff;
}

.ps-sidebar__account {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ps-sidebar__account:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "\e5cc";
  position: absolute;
  top: 50%;
  left: 17px;
  font-size: 20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.ps-sidebar__account-details {
  position: relative;
  padding: 20px 33px 20px 17px;
  font-size: 11px;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.ps-sidebar__account-details:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "\e5cc";
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 20px;
}

.ps-sidebar__account-status {
  float: left;
  height: 20px;
  line-height: 20px;
  min-width: 40px;
  padding: 0 5px;
  margin-right: 10px;
  background: #169de4;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.ps-sidebar__account-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.ps-sidebar__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding: 20px;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.ps-sidebar__language:not(:last-child) {
  margin-right: 20px;
}

.ps-sidebar__language a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  display: block;
}

.ps-sidebar__language a:before {
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  background: no-repeat center / contain;
  background-size: 30px 20px;
}

.ps-sidebar__language--en a:before {
  background-image: url("../img/languages/en.svg");
}

.ps-sidebar__language--no a:before {
  background-image: url("../img/languages/no.svg");
}

.ps-sidebar__language--sw a:before {
  background-image: url("../img/languages/sw.svg");
}

.no-touchevents .ps-sidebar__menu-item:hover .ps-sidebar__menu-link, .ps-sidebar__menu-item.is-active .ps-sidebar__menu-link, .ps-sidebar__menu-item.is-current .ps-sidebar__menu-link {
  background-color: #002f5f;
}

.ps-sidebar__menu-item.is-active .ps-sidebar__menu-link:before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.ps-sidebar__menu-item.has-submenu .ps-sidebar__menu-link:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "\e313";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.ps-sidebar__menu-item.has-notification .ps-sidebar__menu-icon:before {
  content: "";
  position: absolute;
  top: -2px;
  right: -3px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #f53865;
  border: 1px solid #002f5f;
}

.ps-sidebar__menu-link {
  position: relative;
  display: block;
  padding: 10px 35px 10px 55px;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ps-sidebar__menu-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.ps-sidebar__menu-icon > i {
  vertical-align: top;
  font-size: 20px;
}

.ps-sidebar__menu-counter {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  border-radius: 18px;
  background-color: #169de4;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.ps-sidebar__submenu {
  display: none;
  padding: 10px 0;
  background-color: #000a16;
}

.ps-sidebar__submenu-item {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.ps-sidebar__submenu-item.is-starred .ps-sidebar__submenu-link {
  padding-left: 80px;
}

.ps-sidebar__submenu-item.is-starred .ps-sidebar__submenu-link:before {
  content: "\e838";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 55px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 18px;
  color: #ffc200;
}

.ps-sidebar__submenu-link {
  position: relative;
  display: block;
  padding: 10px 20px 10px 55px;
  color: currentColor;
}

.no-touchevents .ps-sidebar__submenu-link:hover, .ps-sidebar__submenu-link.is-current {
  color: #169de4;
}

.ps-accounts {
  background-color: #000a16;
  color: #fff;
}

.ps-accounts__header {
  background-color: #002f5f;
  padding: 15px;
}

.ps-accounts__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5px;
  line-height: 24px;
}

.ps-accounts__title {
  font-size: 18px;
  color: #169de4;
}

.ps-accounts__close {
  font-size: 14px;
  color: #fff;
}

.ps-accounts__search {
  margin-top: 25px;
}

.ps-accounts__list {
  padding: 10px 0;
}

.ps-accounts__item {
  position: relative;
  padding: 10px 15px 10px 38px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.ps-accounts__item.is-active {
  font-weight: bold;
}

.ps-accounts__item.is-active:before {
  content: "\e5ca";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 18px;
}

.ps-accounts__item-id {
  float: left;
  min-width: 40px;
  margin-right: 13px;
}

.ps-accounts__item-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ps-overlay {
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.cell-status-positive {
  color: #169de4 !important;
}

.cell-status-negative {
  color: #eb3564 !important;
}

.ps-infront-widget-wrapper {
  width: 100%;
  min-height: .01%;
  overflow-y: hidden;
  overflow-x: auto;
}

.ps-infront-widget:after {
  content: '';
  display: block;
  clear: both;
}

.ps-infront-widget .cell-h4 {
  display: none;
  margin: 0 0 10px;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #424952;
  text-transform: uppercase;
}

.ps-infront-widget .cell-active-row td {
  background-color: #eee !important;
}

.ps-infront-widget .cell-table-wrapper {
  width: 100%;
  min-height: .01%;
  overflow-y: hidden;
  overflow-x: auto;
}

.ps-infront-widget .cell-table:not(.cell-table--historical-overview) tr:nth-child(2n) td {
  background-color: #f6f6f6;
}

.ps-infront-widget .cell-table:not(.cell-table--historical-overview) tr.cell-row--interaction:hover td {
  background-color: #eee;
  color: #4a4a4a;
}

.ps-infront-widget .cell-table th,
.ps-infront-widget .cell-table td {
  padding-left: 5px;
  padding-right: 5px;
  color: #4a4a4a;
}

.ps-infront-widget .cell-table th {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #d8d8d8;
}

.ps-infront-widget .cell-table td {
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ps-infront-widget .cell-form-elements {
  position: static;
  float: none;
}

.ps-infront-widget select.cell-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #d8d8d8;
  border-radius: 0;
  background: #fcfcfc;
  font-size: 14px;
  color: #424952;
  outline: 0;
  background: url("../img/icon-unfold-more.svg") no-repeat calc(100% - 10px) 50%;
  background-size: 14px 14px;
}

@media screen and (max-width: 991px) {
  .ps-infront-widget select.cell-input {
    width: 100%;
  }
}

.ps-infront-widget .cell-tbl-change-bars {
  margin-top: 20px;
}

.ps-infront-widget .cell-tbl-change-bars--up {
  background-color: #169de4;
}

.ps-infront-widget .cell-tbl-change-bars--down {
  background-color: #eb3564;
}

.ps-infront-widget .cell-tbl-change-bars--no-change {
  background-color: #d8d8d8;
}

.ps-infront-widget .cell-widget-med-text {
  font-size: 21px;
}

.ps-infront-widget .cell-w-index-overview .cell-tbl-change-labels {
  margin-top: 25px;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .ps-infront-widget .cell-w-index-overview .cell-tbl-change-labels {
    font-size: 12px;
  }
}

.ps-infront-widget .cell-w-index-overview .cell-tbl-change-labels td {
  font-weight: normal;
}

.ps-infront-widget .cell-w-index-overview .cell-tbl-change-labels td span:nth-child(1), .ps-infront-widget .cell-w-index-overview .cell-tbl-change-labels td span:nth-child(2) {
  font-weight: bold;
}

.ps-infront-widget .cell-w-index-overview .cell-tbl-historic tr:first-child td {
  border-bottom: 1px solid #d8d8d8;
}

.ps-infront-widget .cell-w-index-overview .cell-tbl-historic tr:nth-child(2n) td,
.ps-infront-widget .cell-w-index-overview .cell-tbl-historic td {
  background-color: transparent;
}

.ps-infront-widget .cell-table--news-list__url-news.cell-table__txt--news-heading {
  background-position: 3px 10px;
}

.ps-infront-widget .cell-w-historical-overview__labels {
  padding: 0 10px;
}

.ps-infront-widget .cell-w-historical-overview__labels--low,
.ps-infront-widget .cell-w-historical-overview__labels--high {
  font-weight: bold;
}

.ps-infront-widget .cell-w-historical-overview__labels--low span:last-of-type,
.ps-infront-widget .cell-w-historical-overview__labels--high span:last-of-type {
  font-weight: normal;
}

.ps-infront-widget .cell-w-historical-overview-bar {
  height: 20px;
  margin-top: 13px;
}

.ps-infront-widget .cell-w-historical-overview-bar--low {
  background-color: #169de4;
}

.ps-infront-widget .cell-w-historical-overview-bar--high {
  background-color: #eb3564;
}

.ps-infront-widget .cell-table--order-book--ask-bar-size {
  border-left: 1px solid #fcfcfc !important;
}

.ps-infront-widget .cell-table--order-book--bid-bar-size {
  background-image: url("../img/infront/orderbook_bg_size_bid.png");
}

.ps-infront-widget .cell-table--order-book--ask-bar-size {
  background-image: url("../img/infront/orderbook_bg_size_ask.png");
}

.ps-infront-widget .cell-tabs__horizontal {
  border-bottom: 1px solid #d8d8d8;
}

.ps-infront-widget .cell-tabs__horizontal__tab {
  margin-right: 15px;
  padding: 0 13px 17px;
  border: 0;
  border-bottom: 4px solid transparent;
  line-height: 1;
  font-size: 18px;
  color: #009ee0;
  background: transparent;
}

.ps-infront-widget .cell-tabs__horizontal__tab:last-child {
  margin-right: 0;
}

.ps-infront-widget .cell-tabs__horizontal__tab--selected {
  border-bottom: 4px solid #169de4;
}

.ps-infront-widget .highcharts-background {
  fill: #fcfcfc;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar {
  position: relative;
  padding: 8px 5px;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-pull-right {
  float: none !important;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-pos-relative {
  position: static;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector-wrapper {
  display: block !important;
  position: static;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector__item {
  width: auto;
  border: 0;
  float: none;
  text-align: center;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector__item:hover {
  background-color: transparent;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector__item__label {
  height: 24px;
  line-height: 24px;
  padding: 0 13px;
  border-radius: 12px;
  font-size: 18px;
  color: #169de4;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector__item__label {
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    font-size: 14px;
  }
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-custom-dropdown-selector__item__label.cell-custom-dropdown-selector__item--selected {
  background-image: none;
  background-color: #169de4;
  color: #fff;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart__toolbar .cell-heading_dropdown--multi-selection {
  display: none;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-wrapper {
  background-color: #16345c;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default {
  background-color: #16345c;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .cell-chart-wrapper {
  background-color: #16345c;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .cell-chart__label-element__label {
  display: none;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .cell-chart__label-element__values__element {
  color: #fff;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-tooltip-box {
  display: none;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-background {
  fill: #16345c;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-crosshair-thin {
  stroke: rgba(255, 255, 255, 0.1);
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-xaxis-grid .highcharts-grid-line {
  stroke: transparent;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-yaxis-grid .highcharts-grid-line {
  stroke: rgba(255, 255, 255, 0.1);
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-point {
  fill: rgba(255, 255, 255, 0.1);
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-tick,
.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-axis-line {
  stroke: rgba(255, 255, 255, 0.1);
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-plot-band {
  fill: transparent;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-axis-labels tspan {
  fill: #fff;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-axis-labels text {
  fill: #fff !important;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .series-color--0 .highcharts-graph {
  stroke: #fff;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-navigator-series .highcharts-graph {
  stroke: #335cad;
}

.ps-infront-widget--marketListOverviewComplexChart .cell-chart-default .highcharts-navigator-series .highcharts-area {
  fill: transparent;
}

.ps-infront-widget--marketOrderBook {
  min-width: 375px;
}

.ps-infront-widget--index-overview0 .cell-tbl-historic th,
.ps-infront-widget--index-overview0 .cell-tbl-historic td {
  padding-left: 0;
  padding-right: 0;
}

.has-sidebar-toggle .ps-page,
.has-sidebar-toggle .ps-footer {
  padding-left: 55px;
}

.has-sidebar-toggle .ps-sidebar {
  width: 55px;
}

.no-touchevents .has-sidebar-toggle .ps-sidebar:hover {
  width: 220px;
}

.no-touchevents .has-sidebar-toggle .ps-sidebar:hover .ps-sidebar__account:before {
  visibility: hidden;
  opacity: 0;
}

.no-touchevents .has-sidebar-toggle .ps-sidebar:hover .ps-sidebar__account-details,
.no-touchevents .has-sidebar-toggle .ps-sidebar:hover .ps-sidebar__languages {
  visibility: visible;
  opacity: 1;
}

.has-sidebar-toggle .ps-sidebar__account:before {
  visibility: visible;
  opacity: 1;
}

.has-sidebar-toggle .ps-sidebar__account-details,
.has-sidebar-toggle .ps-sidebar__languages {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  .has-sidebar-toggle .ps-page,
  .has-sidebar-toggle .ps-footer {
    padding-left: 220px;
  }
  .has-sidebar-toggle .ps-sidebar {
    width: 220px;
  }
  .has-sidebar-toggle .ps-sidebar__account:before {
    visibility: hidden;
    opacity: 0;
  }
  .has-sidebar-toggle .ps-sidebar__account-details,
  .has-sidebar-toggle .ps-sidebar__languages {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .has-sidebar-toggle .ps-page,
  .has-sidebar-toggle .ps-footer {
    padding-left: 0;
  }
  .has-sidebar-toggle .ps-sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .no-touchevents .has-sidebar-toggle .ps-sidebar:hover {
    width: 250px;
  }
  .has-sidebar-toggle .ps-sidebar,
  .has-sidebar-toggle .ps-accounts {
    top: 0;
    width: 250px;
  }
  .has-sidebar-toggle .ps-sidebar__scroller,
  .has-sidebar-toggle .ps-accounts__scroller {
    width: calc(250px + 20px);
  }
  .has-sidebar-toggle .ps-sidebar__wrapper,
  .has-sidebar-toggle .ps-accounts__wrapper {
    width: 250px;
  }
}

.has-accounts-open .ps-accounts {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 991px) {
  .has-sidebar-toggle .ps-overlay,
  .has-accounts-open .ps-overlay {
    visibility: visible;
    opacity: 1;
  }
}

.ps-page,
.ps-footer {
  -webkit-transition: padding-left 0.3s, -webkit-transform 0.3s;
  transition: padding-left 0.3s, -webkit-transform 0.3s;
  transition: padding-left 0.3s, transform 0.3s;
  transition: padding-left 0.3s, transform 0.3s, -webkit-transform 0.3s;
  padding-left: 220px;
}

.ps-sidebar,
.ps-accounts {
  overflow: hidden;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 220px;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, transform 0.3s;
  transition: width 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.ps-sidebar {
  z-index: 120;
}

.ps-accounts {
  z-index: 130;
  -webkit-transform: translate3d(-220px, 0, 0);
  transform: translate3d(-220px, 0, 0);
}

.ps-sidebar__scroller,
.ps-accounts__scroller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(220px + 20px);
}

.ps-sidebar__wrapper,
.ps-accounts__wrapper {
  width: 220px;
}

@media screen and (max-width: 1199px) {
  .ps-page,
  .ps-footer {
    padding-left: 55px;
  }
  .ps-sidebar {
    width: 55px;
  }
  .no-touchevents .ps-sidebar:hover {
    width: 220px;
  }
  .no-touchevents .ps-sidebar:hover .ps-sidebar__account:before {
    visibility: hidden;
    opacity: 0;
  }
  .no-touchevents .ps-sidebar:hover .ps-sidebar__account-details,
  .no-touchevents .ps-sidebar:hover .ps-sidebar__languages {
    visibility: visible;
    opacity: 1;
  }
  .ps-sidebar__account:before {
    visibility: visible;
    opacity: 1;
  }
  .ps-sidebar__account-details,
  .ps-sidebar__languages {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 991px) {
  .ps-page,
  .ps-footer {
    padding-left: 0;
  }
  .ps-sidebar,
  .ps-accounts {
    top: 0;
    width: 250px;
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  .ps-sidebar__scroller,
  .ps-accounts__scroller {
    width: calc(250px + 20px);
  }
  .ps-sidebar__wrapper,
  .ps-accounts__wrapper {
    width: 250px;
  }
  .ps-sidebar__account:before {
    visibility: hidden;
    opacity: 0;
  }
  .ps-sidebar__account-details,
  .ps-sidebar__languages {
    visibility: visible;
    opacity: 1;
  }
}
