{% extends "layouts/app.njk" %}

{% block content %}
<div class="ps-page-header">
    <div class="ps-container">
        <h1 class="ps-page-header__title">Front page</h1>
    </div>
</div>

<div class="ps-content">
    <div class="ps-container">

        <!-- begin Frontpage (https://online.paretosec.com/) -->
        <section class="ps-widgets-section">
            <div class="row row--is-equal">
                <div class="col-sm-6">
                    <infront-widget id="mainIndexChart"></infront-widget>
                </div>

                <div class="col-sm-6">
                    <infront-widget id="brokerStats" title="Highest Turnover at Pareto today (OSEBX)"></infront-widget>
                </div>
            </div>
        </section>
        <!-- end Frontpage -->

        <!-- begin Market Overview (https://online.paretosec.com/Market) -->
        <section class="ps-widgets-section">
            <div class="row row--is-equal">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <infront-widget id="index-overview0"></infront-widget>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="ps-card ps-card--has-nested-cards">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <infront-widget id="chart"></infront-widget>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <infront-widget id="indicatorList" title="Market overview"></infront-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row--is-equal">
                <div class="col-md-6 col-lg-4">
                    <infront-widget id="ranking0" title="Winners" link="#/winners" link-text="View all"></infront-widget>
                </div>
                <div class="col-md-6 col-lg-4">
                    <infront-widget id="ranking1" title="Losers" link="#/losers" link-text="View all"></infront-widget>
                </div>
                <div class="col-md-6 col-lg-4">
                    <infront-widget id="ranking2" title="Highest turnovers" link="#/highest-turnovers" link-text="View more"></infront-widget>
                </div>
            </div>

            <div class="row row--is-equal">
                <div class="col-md-12 col-lg-6">
                    <infront-widget id="newslist0" title="News" link="#/news" link-text="View all"></infront-widget>
                </div>
                <div class="col-md-12 col-lg-6">
                    <infront-widget id="calendar" title="Financial calendar" link="#/financial-calendar" link-text="View all"></infront-widget>
                </div>
            </div>
        </section>
        <!-- end Market Overview -->

        <!-- begin Market Lists (https://online.paretosec.com/Market/Lists) -->
        <section class="ps-widgets-section">
            <infront-widget id="quotelist" title="OBX | OBX"></infront-widget>
        </section>
        <!-- end Market Lists -->

        <!-- begin Market Rankings (https://online.paretosec.com/Market/Rankings) -->
        <section class="ps-widgets-section">
            <div class="row row--is-equal">
                <div class="col-md-6">
                    <infront-widget id="marketRankingsWinners" title="Winners"></infront-widget>
                </div>
                <div class="col-md-6">
                    <infront-widget id="marketRankingsLosers" title="Losers"></infront-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <infront-widget id="marketRankingsHighestTurnover" title="Highest turnover"></infront-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <infront-widget id="marketRankingsHighestTurnoverPareto" title="Highest turnover at Pareto"></infront-widget>
                </div>
            </div>
        </section>
        <!-- end Market Rankings -->

        <!-- begin Company Overview (https://online.paretosec.com/Ticker/STL/18177) -->
        <section class="ps-widgets-section">
            <div class="row">
                <div class="col-md-12">
                    <infront-widget id="marketListOverviewInstrumentInfo"></infront-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <infront-widget id="marketListOverviewComplexChart"></infront-widget>
                </div>
                <div class="col-md-4">
                    <infront-widget id="marketListOverviewHistorical" title="Historical overview"></infront-widget>
                    <infront-widget id="marketListOverviewStockInfo" title="Stock info"></infront-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <infront-widget id="marketOrderBook" title="Orderbook"></infront-widget>
                    <infront-widget id="marketLatestTrades" title="Latest Trades"></infront-widget>
                    <infront-widget id="companyNews" title="News"></infront-widget>
                </div>
            </div>
        </section>
        <!-- end Company Overview -->

        <!-- begin Research Report (https://online.paretosec.com/Research/Report/93154) -->
        <section class="ps-widgets-section">
            <div class="row">
                <div class="col-md-5">
                    <infront-widget id="smallHistChart"></infront-widget>
                </div>
            </div>
        </section>
        <!-- end Research Report -->

        <!-- begin Funds Trade Feed (https://online.paretosec.com/Funds/Trade/?feed=4241&ticker=0P00007Y1W) -->
        <section class="ps-widgets-section">
            <div class="row">
                <div class="col-md-5">
                    <infront-widget id="fundMorningstar" title="Morningstar Rating"></infront-widget>
                </div>
            </div>
        </section>
        <!-- end Funds Trade -->

    </div>
</div>
{% endblock %}
