{% extends "layouts/app.njk" %}

{% block content %}
<div class="ps-page-header">
    <div class="ps-container">
        <h1 class="ps-page-header__title">Market Overivew</h1>
    </div>
</div>

<div class="ps-content">
    <div class="ps-container">

        <!-- begin Market Overview (https://online.paretosec.com/Market) -->
        <section class="ps-widgets-section">
                <div class="row row--is-equal">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <infront-widget id="index-overview0"></infront-widget>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="ps-card ps-card--has-nested-cards">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <infront-widget id="chart"></infront-widget>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <infront-widget id="indicatorList" title="Market overview"></infront-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row--is-equal">
                    <div class="col-md-6 col-lg-4">
                        <infront-widget id="ranking0" title="Winners" link="#/winners" link-text="View all"></infront-widget>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <infront-widget id="ranking1" title="Losers" link="#/losers" link-text="View all"></infront-widget>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <infront-widget id="ranking2" title="Highest turnovers" link="#/highest-turnovers" link-text="View more"></infront-widget>
                    </div>
                </div>

                <div class="row row--is-equal">
                    <div class="col-md-12 col-lg-6">
                        <infront-widget id="newslist0" title="News" link="#/news" link-text="View all"></infront-widget>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <infront-widget id="calendar" title="Financial calendar" link="#/financial-calendar" link-text="View all"></infront-widget>
                    </div>
                </div>
            </section>
            <!-- end Market Overview -->

    </div>
</div>
{% endblock %}
