=icon
    font-family: "Material Icons"
    font-weight: normal
    font-style: normal
    font-size: 24px
    line-height: 1
    letter-spacing: normal
    text-transform: none
    display: inline-block
    white-space: nowrap
    word-wrap: normal
    direction: ltr
    -webkit-font-feature-settings: 'liga'
    -webkit-font-smoothing: antialiased

=gpu
    transform: translate3d(0,0,0)

=hover
    .no-touchevents &:hover
        @content

=notouch
    .no-touchevents &
        @content

=hide-scrollbar
    &::-webkit-scrollbar
        display: none

=overflow-touch
  -webkit-overflow-scrolling: touch

// width
=r($width)
    @media screen and (max-width: $width - 1 + "px")
        @content

=rmin($width)
    @media screen and (min-width: $width + "px")
        @content

// height
// =rh($height)
//     @media only screen and (max-height: $height + "px")
//         @content

// =rhmin($height)
//     @media only screen and (min-height: $height + "px")
//         @content

=font($alias, $name)
    @font-face
        font-family: $alias
        // src:  url("../fonts/" + $name + ".eot")
        // src:  url("../fonts/" + $name + ".eot?#iefix") format("embedded-opentype"), url("../fonts/" + $name + ".woff2") format("woff2"), url("../fonts/" + $name + ".woff") format("woff"), url("../fonts/" + $name + ".ttf") format("truetype")
        src: url("../fonts/" + $name + ".woff") format("woff"), url("../fonts/" + $name + ".ttf") format("truetype")
        font-weight: normal
        font-style: normal

=font-smoothing
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

=hide-text
    // text-indent: -9999px
    // overflow: hidden
    font: 0/0 a
    color: transparent
    text-shadow: none
    background-color: transparent
    border: 0
=clr
    &:after
        content: ''
        display: block
        clear: both

=text-overflow
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

=justify
    text-align: justify
    font-size: 0
    &:after
        content: ''
        display: inline-block
        width: 100%
        height: 0

=vertical
    text-align: center
    font-size: 0
    &:before
        content: ''
        display: inline-block
        vertical-align: middle
        width: 0
        height: 100%

=placeholder
    &::placeholder
        @content

=gray
    -webkit-filter: grayscale(1)
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale")

=gray-zero
    -webkit-filter: grayscale(0)
    filter: none

//triangle
=arr($width, $height, $bg, $direction)
    width: 0px
    height: 0px
    border-style: solid
    @if $direction == t
        border-width: 0 $width / 2 + px $height + px $width / 2 + px
        border-color: transparent transparent $bg transparent
    @if $direction == r
        border-width: $height / 2 + px 0 $height / 2 + px $width + px
        border-color: transparent transparent transparent $bg
    @if $direction == b
        border-width: $height + px $width / 2 + px 0 $width / 2 + px
        border-color: $bg transparent transparent transparent
    @if $direction == l
        border-width: $height / 2 + px $width + px $height / 2 + px 0
        border-color: transparent $bg transparent transparent
    @if $direction == tl
        border-width: $height + px $width + px 0 0
        border-color: $bg transparent transparent transparent
    @if $direction == tr
        border-width: 0 $width + px $height + px 0
        border-color: transparent $bg transparent transparent
    @if $direction == br
        border-width: 0 0 $height + px $width + px
        border-color: transparent transparent $bg transparent
    @if $direction == bl
        border-width: $height + px 0 0 $width + px
        border-color: transparent transparent transparent $bg
