{% set results = [
    {
        title: 'Market',
        total: '132',
        list: [
            '<strong>Hello</strong> lorem ipsum dolor sit amet',
            '<strong>Hello</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            '<strong>Hello</strong> lorem ipsum dolor sit amet',
            '<strong>Hello</strong> lorem ipsum dolor sit amet'
        ]
    },
    {
        title: 'Articles',
        total: '23',
        list: [
            '<strong>Hello</strong> lorem ipsum dolor sit amet',
            '<strong>Hello</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            '<strong>Hello</strong> lorem ipsum dolor sit amet',
            '<strong>Hello</strong> lorem ipsum dolor sit amet'
        ]
    },
    {
        title: 'Research',
        total: '59',
        list: [
            '<strong>Hello</strong> lorem ipsum dolor sit amet',
            '<strong>Hello</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            '<strong>Hello</strong> lorem ipsum dolor sit amet',
            '<strong>Hello</strong> lorem ipsum dolor sit amet'
        ]
    }
] %}
